<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html">
    <h:head>
        <title>Rugby Scrum</title>
        <link rel="icon" type="image/x-icon" href="resources/MyImg/logo.ico"/>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <h:outputStylesheet library="css" name="materialize.css"/>
        <h:outputStylesheet library="css" name="font-awesome.css"/>
        <h:outputStylesheet library="Mycss" name="estilos.css"/>
        <h:outputScript library="js" name="jquery.js"/>
        <h:outputScript library="js" name="materialize.js"/>        
        <h:outputScript library="Myjs" name="script.js"/>
        <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"/>
    </h:head>
    <h:body>
       <div id="modal1" class="modal">
           <h:form class="col s12">
                                      <div class="modal-content container">
                                              <h4 id="h" >Inicio Sesion</h4>
                                                <div class="row-2">
                                                    <div class="rowj">
                                                      <div class="input-field col s6">
                                                        <i class="fa fa-user-circle-o" aria-hidden="true"></i>
                                                        <h:inputText id="email"  class="validate" value="#{beanLogin.email}"/>
                                                        <h:message for="email" >    </h:message>
                                                        <label for="icon_prefix">Correo</label>
                                                      </div>
                                                      <div class="input-field col s6">
                                                        <i class="fa fa-key" aria-hidden="true"></i>
                                                        <h:inputSecret id="password" class="validate" value="#{beanLogin.password}"/>
                                                        <h:message for="password"></h:message>
                                                        <label for="icon_lock">Contraseña</label>
                                                      </div>
                                                    </div>
                                                </div>
                                      </div>
                                      <div class="modal-footer">
                                          <h:commandButton class="modal-action modal-close waves-effect  btn-flat" value="Ingresar" action="#{beanLogin.validateUsernamePassword()}"></h:commandButton>
                                         <a href="#|" class="modal-action modal-close waves-effect  btn-flat" id="c">Cerrar</a>

                                      </div>
                 </h:form>
                       
        </div> 
          <div id="modal2" class="modal">
            <div class="modal-content container">
                        <h4 id="h" >Inicio Sesion</h4>
                          <div class="row-2">
                            <form class="col s12">
                              <div class="rowj">
                                <div class="input-field col s6">
                                  <i class="material-icons prefix">account_circle</i>
                                  <input id="icon_prefix" type="text" class="validate" name="txtusuario"/>
                                  <label for="icon_prefix">Usuario</label>
                                </div>
                                <div class="input-field col s6">
                                  <i class="material-icons prefix">lock</i>
                                  <input id="icon_lock" type="tel" class="validate" name="txtcontraseña"/>
                                  <label for="icon_lock">Contraseña</label>
                                </div>
                              </div>
                            </form>
                          </div>
                      </div>
                      <div class="modal-footer">
                          <a href="#!" class="modal-action modal-close   btn-flat" id="c">Cerrar</a>
                      </div>
        </div>
        <header>
        <nav id="logo">
            <div class="nav-wrapper container">
                <h:graphicImage class="hide-on-med-and-down left" library="MyImg" name="Sena.png" width="60"/>
                <a href="#" class="brand-logo center" id="letra">RugbyProject</a>
                <a href="#" data-activates="mobile-demo" class="right button-collapse"><i class="material-icons">menu</i></a>
              <ul id="nav-mobile" class="right hide-on-med-and-down">
                  <a class="waves-effect waves-light  modal-trigger" id="m1" href="#modal1">Inicio Sesion</a>
                <li><a href="Misjsp/registrate.jsp">Registrate</a></li>
              </ul>
                <ul class="side-nav" id="mobile-demo">
                                  <a class="waves-effect waves-light black-text  modal-trigger" href="#modal2">Inicio Sesion</a>
                                   <li><a href="../registrate.jsp">Registrate</a></li>

                  </ul>
            </div>
        </nav>
        </header>
        <div class="parallax-container">
            <div class="parallax"><h:graphicImage library="MyImg" name="fondo4.jpg"/></div>
        </div>
        
         <div id="vacio"></div>
        <div class="row container center-align">
            <h2>Metodologia Scrum</h2>
            <p id="texto1">Scrum es una metodologia agil, se usa
                    para minimizar los riesgos durante la
                    realizacion de un  proyecto. 
                    En esta metodologia se trabaja en equipo
                    para obtener un mejor resultado.</p>
        </div>
        <div class="row container center-align">
            <h2>Proceso</h2>
            <h4>Backlog:</h4>
            <p id="texto2">Es el listado de todas las peticiones del cliente.</p>
             <h4>Sprint:</h4>
            <p id="texto2">Es el ciclo de duracion de cada tarea.</p>
            <h4>Daily Scrum:</h4>
            <p id="texto2">Es la reunion diaria,tiene una duracion de 15 minutos.</p>
            <h4>Historias de Usuario:</h4>
            <p id="texto2">El equipo escoge los requisitos con mayor importancia y asigna las tareas.</p>
             <h4>Panel de Tareas:</h4>
            <p id="texto2">Es donde se encuentran las tareas que son asignadas a cada miembro del equipo.</p>
        </div>
        
        <div class="row container center-align">
            <h2>Roles</h2>
             <h4>Product Owner:</h4>
            <p id="texto2">Es el "Dueño del Producto", es la voz del cliente, es el responsable de desarrollar, mantener y priorizar las tareas del backlog.</p>
             <h4>Sprint:</h4>
            <p id="texto2">Es el ciclo de duracion de cada tarea.</p>
            <h4>Scrum Master:</h4>
            <p id="texto2">Es el responsable de asegurarse que el trabajo del equipo vaya bien.</p>
            <h4>Development Team:</h4>
            <p id="texto2">Son los encargados de desarrollar el proyecto.</p>
        </div>
        <div class="parallax-container">
            <div class="parallax"><h:graphicImage library="MyImg" name="fondo4.jpg"/></div>    
        </div>
      
        <footer class="page-footer">
          <div class="container">
              <div class="row-e">
              <div class="col l6 s12">
                  <h5 id="fooo">RugbyProject</h5>
               
              </div>
            </div>
          </div>
          <div class="footer-copyright">
               <div class="container">
                   <p class="grey-text text-lighten-4">Elaborado por: Alejandro Rodriguez, Dumar Ruiz, Paula Lemus, Paula Quintana.</p>
            </div>
          </div>
        </footer>
       <script type="text/javascript" src="js/mijs.js"></script>
      <script>
           $(document).ready(function(){
            $('.parallax').parallax();
          });
      </script>
    </h:body>
</html>