/* 
    Created on : 20/08/2017, 02:41:33 PM
    Author     : dumr
*/
@import url('https://fonts.googleapis.com/css?family=Hind');
.fontNav{
    background: url('../../resources/MyImg/fondo.png');
    background-repeat: no-repeat;
    background-size: cover;
}
body{
    height: 100vh;
    width: 100%;
}
.circle-nav{
    width: 65px;
    height: 65px;
    border-radius: 50px; 
}

.fa {
position: relative;
width: 60px;
height: 36px;
text-align: center;
vertical-align: middle;
font-size:20px;
}


.main-menu:hover,nav.main-menu.expanded {
width:250px;
overflow:visible;
}

.main-menu {
background:#000 ;
border-right:1px solid #e5e5e5;
position:absolute;
top: 75px;
bottom:0;
height:70%;
left:0;
width:60px;
overflow:hidden;
-webkit-transition:width .05s linear;
transition:width .05s linear;
-webkit-transform:translateZ(0) scale(1,1);
z-index:1000;
}

.main-menu>ul {
margin:7px 0;
}

.main-menu li {
position:relative;
display:block;
width:250px;
}

.main-menu li>a {
position:relative;
display:table;
border-collapse:collapse;
border-spacing:0;
color:#999;
 font-family: arial;
font-size: 14px;
text-decoration:none;
-webkit-transform:translateZ(0) scale(1,1);
-webkit-transition:all .1s linear;
transition:all .1s linear;
  
}

.main-menu .nav-icon {
position:relative;
display:table-cell;
width:60px;
height:36px;
text-align:center;
vertical-align:middle;
font-size:18px;
}

.main-menu .nav-text {
position:relative;
display:table-cell;
vertical-align:middle;
width:190px;
transition: .3s;
}

.main-menu>ul.logout {
position:absolute;
left:0;
bottom:0;
}

.no-touch .scrollable.hover {
overflow-y:hidden;
}

.no-touch .scrollable.hover:hover {
overflow-y:auto;
overflow:visible;
}

a:hover,a:focus {
text-decoration:none;
}

nav {
-webkit-user-select:none;
-moz-user-select:none;
-ms-user-select:none;
-o-user-select:none;
user-select:none;
}

nav ul,nav li {
outline:0;
margin:0;
padding:0;
}
.main-menu li:hover>a,
nav.main-menu li.active>a,
.dropdown-menu>li>a:hover,
.dropdown-menu>li>a:focus,.dropdown-menu>.active>a,
.dropdown-menu>.active>a:hover,
.dropdown-menu>.active>a:focus,.no-touch .dashboard-page nav.dashboard-menu ul li:hover a,
.dashboard-page nav.dashboard-menu ul li.active a {
color:#fff;
background-color:#5fa2db;
}
.area {
float: left;
background: #e2e2e2;
width: 100%;
height: 100%;
}

.bottom-sheet{
    bottom: 0%;
    margin: auto;
    width: auto;
}
.selectGrid tbody tr td label::before{
    display: none;
}
[type="radio"]:not(:checked) + label, [type="radio"]:checked + label,
.selectGrid tbody tr td label,.selectGrid tbody tr td label i{
    padding: 0px;
    line-height: 0px;
    margin: 0px;
    display: flex;
    height: auto;
    width: auto;
}
[type="radio"]:checked + label::after{
    display: none;
}
[type="radio"]:checked + label{
    color: #d79d1a;
}