<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
    xmlns:c="http://java.sun.com/jsp/jstl/core"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <title>Facelet Title</title>
        <h:outputStylesheet library="css" name="materialize.css"/>
        <h:outputStylesheet library="css" name="font-awesome.css"/>
        <h:outputStylesheet library="Mycss" name="Style.css"/>
        <h:outputScript library="js" name="jquery.js"/>
        <h:outputScript library="js" name="materialize.js"/>        
        <h:outputScript library="Myjs" name="script.js"/>
    </h:head>
    <h:body onload="">
<!--navbar-->
  <nav class='fontNav'>
    <div class="nav-wrapper">
      <a href="#!" class="brand-logo center">Rugby</a>      
      <h:graphicImage class="circle-nav hide-on-med-and-down left" library="MyImg" name="Sena.png"/>
      <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="fa fa-bars"></i></a>
      <ul class="right hide-on-med-and-down">
        <li><a class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="Mis Proyectos" href="#"><i class="fa fa-folder-open" aria-hidden="true"></i></a></li>
        <li><a class="modal-trigger tooltipped" data-position="bottom" data-delay="50" data-tooltip="Solicitudes" href="#modal2"><i class="fa fa-envelope" aria-hidden="true"></i><span class="new badge white blue-grey-text" data-badge-caption="Nuevas">2</span></a></li>
        <li><a class="modal-trigger tooltipped" data-position="bottom" data-delay="50" data-tooltip="Crear Proyecto" href="#modal1"><i class="fa fa-clipboard" aria-hidden="true"></i></a></li>
        <li>
            <a class='dropdown-button' data-activates="dropdown1">#{beanMenuPrincipal.person.name} #{beanMenuPrincipal.person.lastName} <i class="fa fa-chevron-down" aria-hidden="true"></i></a>
        </li>
        <ul id='dropdown1' class='dropdown-content' style="width: 300px; min-width: 100px;">
            <li><a href="#!">Editar Perfil</a></li>
            <li class="divider"></li>
            <li>
                <h:form>
                    <h:commandButton action="#{beanLogin.logout}" value="Cerrar Sesion"></h:commandButton>
                </h:form>
            </li>
        </ul>
      </ul>
<!--Mobile-->
      <ul class="side-nav" id="mobile-demo">
        <li><a href="sass.html">Sass</a></li>
        <li><a href="badges.html">Components</a></li>
        <li><a href="collapsible.html">Javascript</a></li>
      </ul>
    </div>
  </nav>
<!--Solicitudes-->
  <div id="modal2" class="modal bottom-sheet">
    <div class="modal-content">
      <h4>Solicitudes</h4>
  <ul class="collection">
    <li class="collection-item avatar">
      <i class="material-icons circle">folder</i>
      <span class="title">Proyecto:Gestion Asistencia</span>
      <p>First Line <br/>
         Second Line
      </p>
      <div class="secondary-content">
        <a href="#!">Aceptar</a>
        <a href="#!">Rechazar</a>
      </div>
    </li>
    <li class="collection-item avatar">
      <i class="material-icons circle green">insert_chart</i>
      <span class="title">Title</span>
      <p>First Line <br/>
         Second Line
      </p>
      <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
    </li>
  </ul>
    </div>
    <div class="modal-footer">
      <a href="#!" class="modal-action modal-close waves-effect waves-red btn-flat">Cerrar</a>
    </div>
  </div>
<!--Crear Proyecto-->
  <div id="modal1" class="modal modal modal-fixed-footer">
      <h:form>
        <div class="modal-content">
          <h4>Nuevo Proyecto</h4>
          <div class="input-field col s6">
              <h:inputText id="nameProject" value="#{beanProject.project.name}" class="validate"/>
              <label for="nameProject">Nombre del Proyecto</label>
          </div>
          <div class="input-field col s6">
              <h:inputText id="clientProject" value="#{beanProject.project.client}" class="validate"/>
              <label for="clientProject">Cliente del Proyecto</label>
          </div>
          <div class="input-field col s6">
          </div>
          <div class="input-field col s6">
              <h:inputTextarea id="descripcion" value="#{beanProject.project.decription}" style="height: 100px;" ></h:inputTextarea>
              <label for="descripcion">Descripcion</label>
          </div>
          <center style="width: 100%;">
            <h:selectOneRadio id="Icon" value="#{beanProject.project.icon}" class="selectGrid" style="display: block;">
                <f:selectItem itemEscaped="false" itemValue = "fa fa-plane" itemLabel="&lt;i class=&quot; fa fa-plane &quot; aria-hidden=&quot; true &quot; /&gt;"/>
                <f:selectItem itemEscaped="false" itemValue = "fa fa-leaf" itemLabel="&lt;i class=&quot; fa fa-leaf &quot; aria-hidden=&quot; true &quot; /&gt;"/>
                <f:selectItem itemEscaped="false" itemValue = "fa fa-cart-arrow-down" itemLabel="&lt;i class=&quot; fa fa-cart-arrow-down &quot; aria-hidden=&quot; true &quot; /&gt;"/>
                <f:selectItem itemEscaped="false" itemValue = "fa fa-id-card-o" itemLabel="&lt;i class=&quot; fa fa-id-card-o &quot; aria-hidden=&quot; true &quot; /&gt;"/>
                <f:selectItem itemEscaped="false" itemValue = "fa fa-university" itemLabel="&lt;i class=&quot; fa fa-university &quot; aria-hidden=&quot; true &quot; /&gt;"/>
                <f:selectItem itemEscaped="false" itemValue = "fa fa-beer" itemLabel="&lt;i class=&quot; fa fa-beer &quot; aria-hidden=&quot; true &quot; /&gt;"/>
                <f:selectItem itemEscaped="false" itemValue = "fa fa-bar-chart" itemLabel="&lt;i class=&quot; fa fa-bar-chart &quot; aria-hidden=&quot; true &quot; /&gt;"/>
                <f:selectItem itemEscaped="false" itemValue = "fa fa-camera" itemLabel="&lt;i class=&quot; fa fa-camera &quot; aria-hidden=&quot; true &quot; /&gt;"/>
                <f:selectItem itemEscaped="false" itemValue = "fa fa-binoculars" itemLabel="&lt;i class=&quot; fa fa-binoculars &quot; aria-hidden=&quot; true &quot; /&gt;"/>
                <f:selectItem itemEscaped="false" itemValue = "fa fa-cc" itemLabel="&lt;i class=&quot; fa fa-cc &quot; aria-hidden=&quot; true &quot; /&gt;"/>
                <f:selectItem itemEscaped="false" itemValue = "fa fa-diamond" itemLabel="&lt;i class=&quot; fa fa-diamond &quot; aria-hidden=&quot; true &quot; /&gt;"/>
                <f:selectItem itemEscaped="false" itemValue = "fa fa-cutlery" itemLabel="&lt;i class=&quot; fa fa-cutlery &quot; aria-hidden=&quot; true &quot; /&gt;"/>
                <f:selectItem itemEscaped="false" itemValue = "fa fa-cogs" itemLabel="&lt;i class=&quot; fa fa-cogs &quot; aria-hidden=&quot; true &quot; /&gt;"/>
                <f:selectItem itemEscaped="false" itemValue = "fa fa-glass" itemLabel="&lt;i class=&quot; fa fa-glass &quot; aria-hidden=&quot; true &quot; /&gt;"/>
                <f:selectItem itemEscaped="false" itemValue = "fa fa-users" itemLabel="&lt;i class=&quot; fa fa-users &quot; aria-hidden=&quot; true &quot; /&gt;"/>
                <f:selectItem itemEscaped="false" itemValue = "fa fa-paint-brush" itemLabel="&lt;i class=&quot; fa fa-paint-brush &quot; aria-hidden=&quot; true &quot; /&gt;"/>
                <f:selectItem itemEscaped="false" itemValue = "fa fa-paw" itemLabel="&lt;i class=&quot; fa fa-paw &quot; aria-hidden=&quot; true &quot; /&gt;"/>
                <f:selectItem itemEscaped="false" itemValue = "fa fa-money" itemLabel="&lt;i class=&quot; fa fa-money &quot; aria-hidden=&quot; true &quot; /&gt;"/>
                <f:selectItem itemEscaped="false" itemValue = "fa fa-microchip" itemLabel="&lt;i class=&quot; fa fa-microchip &quot; aria-hidden=&quot; true &quot; /&gt;"/>
                <f:selectItem itemEscaped="false" itemValue = "fa fa-futbol-o" itemLabel="&lt;i class=&quot; fa fa-futbol-o &quot; aria-hidden=&quot; true &quot; /&gt;"/>
                <f:selectItem itemEscaped="false" itemValue = "fa fa-heart" itemLabel="&lt;i class=&quot; fa fa-heart &quot; aria-hidden=&quot; true &quot; /&gt;"/>
              </h:selectOneRadio>
            </center>
        </div>
        <div class="modal-footer">
            <a href="#!" class="modal-action modal-close waves-effect waves-red btn-flat">Cancelar</a>
            <h:commandButton action="#{beanProject.createProject}" value="Crear" class="modal-action waves-effect waves-green btn-flat" style="color:#d79d1a;"></h:commandButton>
        </div>
      </h:form>
  </div>
<!---->
<div class="container">
    <div class="row">
      <div class="col m7 push-m5">
          <h3>Mis Proyectos</h3>
          <div class="divider"></div>
          <div>
          <h:form>
              <ul class="collapsible popout scrolling" data-collapsible="accordion">
                  <ui:repeat var="item" value="#{beanMenuPrincipal.list}"> 
                        <li>
                            <div class="collapsible-header">
                                <i class="#{item.icon}"></i>
                                #{item.name}
                                #{item.idProject}
                            </div>
                            <div class="collapsible-body">
                                <h:commandLink action="#{beanLogin.Ingresar(item.idProject)}" style="float:right;" class="btn-floating waves-effect waves-light amber"><i class="fa fa-sign-in"></i></h:commandLink>
                                <span>#{item.decription}</span><br/>             
                                <h:outputLabel value="#{item.client}"/>
                            </div>
                          </li>
                    </ui:repeat>
              </ul>
          </h:form>
          </div>
      </div>
      <div class="col m5 pull-m7">
          <h3>Mis Proyectos</h3>
          <div class="divider"></div>
             
      </div>
    </div>       
</div>
    </h:body>
</html>

