@import url('https://fonts.googleapis.com/css?family=Hind');

*{
    padding: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
body{
        background: #eaebed;
        background-repeat: no-repeat;
        background-size: cover;
}
#particles-js{
    width: 100%;
    height: 100%;
    position: fixed;
    
}
 
    #texto1{
       font-size: 20px;
       color: #ffffff;
    }
    .row
    {
    
      padding: 20px;
      margin-bottom: 20px;
      background-color: rgba(0, 0, 0  , 0.8);
    }
    h2{
        
        color: #d79d1a;
        font-size: 40px;
    }
    #logo{
       
        background-color: rgba(0, 0, 0  , 0.8);
    }
    h4{
        color: #f1d7ae;
        font-size: 30px;
    }
    #texto2{
        font-size: 20px;
       color: #ffffff;
    }
    #vacio {
        position: fixed;
    }
 
    .page-footer{
      padding: 20px;
      margin-bottom: 20px;
      background-color: rgba(0, 0, 0  , 0.8);
    }
    #letra{
         color: #d79d1a;
    }
    #fooo{
        color: #d79d1a;
    }
    .parallax-container {
      height: 300px;
    }
  #modal1
  {
        padding: 20px;
      margin-bottom: 20px;
      background-color: rgba(0, 0, 0  , 0.8);
  }
  #modal2{
             padding: 20px;
      margin-bottom: 20px;
      background-color: rgba(0, 0, 0  , 0.8);
  }
  #h{
     color: #d79d1a;

  }
  .input-field{
      color:  #ffffff;
  }
  .modal .modal-footer{
      background-color: rgba(0, 0, 0  , 0.8);
  }
  #c{
      color:  #ffffff;
  }
  #btn1{
      background-color: #d79d1a;
  }
